*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: sans-serif;
}

@font-face {
    font-family: 'digital-7';
    src: url("../fonts/digital-7.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}


body{
    background-color: #091921;
    width: 100%;
    height: 100dvh;
    min-width: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
header{
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}

#arrow, #sec_arrow{
    width: 20vh;
}

#clock{
    border-width: 3px;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
    inset 0 -15px 15px rgba(255, 255, 255, 0.05),
    0 15px 15px rgba(0, 0, 0, 0.3),
    inset 0 15px 15px rgba(0, 0, 0, 0.3);

    &:before {
        content: '';
        position: absolute;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: white;
        z-index: 111;
    }
}

#digital_clock{
    color: white;
    font-size: 9.2vh;
    font-family: 'digital-7', sans-serif;
    border-width: 3px;
    width: 200px;
    height: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
    inset 0 -10px 15px rgba(255, 255, 255, 0.05),
    0 15px 15px rgba(0, 0, 0, 0.3),
    inset 0 15px 15px rgba(0, 0, 0, 0.3);



}

#clock-struct{
    /*width: fit-content;*/
    /*display: flex;*/
    /*gap: 30px;*/
    /*align-items: center;*/
    display: grid;
    align-items: center;
    justify-items: center;
}

.clock_struct_for_NN{
    grid-template-columns: 200px 200px 200px;
}

.clock_struct_for_full{
    grid-template-columns: 200px 200px 200px 200px 200px;
}

img{
    border-radius: 10px;
}

.hour {
    position: absolute;


    .hours {
        width: 160px;
        height: 100px;
        display: flex;
        justify-content: center;
        position: relative;
        border-radius: 50%;


        &:before {
            content: '';
            position: absolute;
            width: 6px;
            height: 50px;
            background: #ff105e; /* Bright pink color */
            z-index: 10;
            border-radius: 6px 6px 0 0; /* Rounded top edges */
        }
    }
}





/* This CSS is for the minute hand of the clock. */
.minute {
    position: absolute;
}

.minutes {
    width: 190px;
    height: 135px;
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 50%;

    &:before {
        content: "";
        position: absolute;
        width: 4px;
        height: 67px;
        background: white;
        z-index: 11;
        border-radius: 6px 6px 0 0;
    }
}

.second {
    position: absolute;
}

#dropArea{
    width: 300px;
    height: 200px;
    border: 2px dashed #ccc;
    border-radius: 5px;
    text-align: center;
    line-height: 200px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    cursor: pointer;
    color: white;
    justify-content: center;
}


#clear_image , #preprocessed_image{
    width: 200px;
    height: 200px;
    border: 2px solid white;
    border-radius: 5px;
    text-align: center;
    line-height: 200px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    cursor: pointer;
    justify-content: center;
    justify-items: center;
    color: white;

}
.active{
    display: flex;
}

.not_active{
    display: none;
}


.model-block{
    display: flex;
    justify-content: center;
}


button{
    width: 150px;
    height: 30px;
    border: green solid 2px;
    background-color: yellow;
    border-radius: 5px;
    font-weight: bold;
}

button:active{
    background-color: #b3dbfd;
}

input{
    color: white;
}

.active_for_button{
    display: block;
}


#original_image , #formed_image{
    width: 200px;
}

#result_block{
    color: white;
    border-radius: 10px;
    border: white solid 3px;
    width: 600px;
    height: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}


#correct_result{
    align-items: center;
    justify-content: center;
    justify-items: center;

}

#not_correct_result{
    align-items: center;
    padding-bottom: 10px ;
}