*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'digital-7';
    src: url("../fonts/digital-7.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}


body{
    background-color: #091921;
    display: flex;
    width: 100%;
    min-width: 100vh;
}
header{
    width: 96%;
    justify-content: center;
}

.arrow{
    width: 20vh;
}

.clock{
    border-width: 3px;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
    inset 0 -15px 15px rgba(255, 255, 255, 0.05),
    0 15px 15px rgba(0, 0, 0, 0.3),
    inset 0 15px 15px rgba(0, 0, 0, 0.3);

    &:before {
        content: '';
        position: absolute;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: white;
        z-index: 111;
    }
}

.digital_clock{
    color: white;
    font-size: 9.2vh;
    font-family: 'digital-7', sans-serif;
    border-width: 3px;
    width: 230px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
    inset 0 -10px 15px rgba(255, 255, 255, 0.05),
    0 15px 15px rgba(0, 0, 0, 0.3),
    inset 0 15px 15px rgba(0, 0, 0, 0.3);



}

.clock-struct{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px auto;
}



.hour {
    position: absolute;


    .hours {
        width: 160px;
        height: 100px;
        display: flex;
        justify-content: center;
        position: relative;
        border-radius: 50%;


        &:before {
            content: '';
            position: absolute;
            width: 6px;
            height: 50px;
            background: #ff105e; /* Bright pink color */
            z-index: 10;
            border-radius: 6px 6px 0 0; /* Rounded top edges */
        }
    }
}





/* This CSS is for the minute hand of the clock. */
.minute {
    position: absolute;
}

.minutes {
    width: 190px;
    height: 135px;
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 50%;

    &:before {
        content: "";
        position: absolute;
        width: 4px;
        height: 67px;
        background: white;
        z-index: 11;
        border-radius: 6px 6px 0 0;
    }
}

.second {
    position: absolute;
}

.seconds {
    width: 230px;
    height: 170px;
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 50%;

    &:before {
        content: "";
        position: absolute;
        width: 2px;
        height: 110px;
        background: white;
        z-index: 12;
        border-radius: 6px 6px 0 0;
    }
}